html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body { 
    max-width: 80%; 
    margin: 0 auto;
    background: white; 
}

header, .header {
    width: 40%;
    margin: auto;
}

.flash {
    width: 40%;
    margin: auto;
    padding: 0 0 0 300px;
    color: #32a893;
}

 /* Table styling */

table {
    width: 70%;
    margin: auto;
    background-color: #ff33cc;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid purple;
    /* border-style: none; */
}

th, td {
    padding: 20px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

thead {
    text-shadow: 1px 1px 1px black;
}

thead th {
    background: linear-gradient(to bottom, rgb(0 0 0/ 10%), rgb(0 0 0 / 50%));
    border: 3px solid purple;
}

tbody tr:nth-child(odd) {
    background-color: #ff33cc;
}

tbody tr:nth-child(even) {
    background-color: #e495e4;
}

caption {
    font-family: "Rock Salt", cursive;
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    color: #666;
    text-align: right;
    letter-spacing: 1px;
}

/* Table styling END */

/* Button styling START */

.edit-btn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 180, 0, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow: 
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.edit-btn:hover {
    background-color: rgba(0, 210, 0, 1);
}

.edit-btn:active {
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.delete-btn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(180, 0, 0, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow: 
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.delete-btn:hover {
    background-color: rgba(210, 0, 0, 1);
}

.delete-btn:active {
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/* Button styling END */

/* Form styling START */
.add-task {
    width: 30%;
    margin: auto;
}

#new-task-input,
#new-task-btn {
    width: 450px;
    height: 30px;
    padding: 0 20px;
    margin: 3px auto;
    box-sizing: border-box;
}

#new-task-btn {
    border: 0;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 100, 220, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow: 
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#new-task-btn:hover {
    background-color: rgba(0, 120, 240, 1);
}

#new-task-btn:active {
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#new-task-input {
    border: 0;
    line-height: 1.5;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}
/* Form styling END */
